In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('../Data/immunization_kenya_2022.csv')
data.head()

    county                 indicator  Unit  Date  Value
0  Nairobi  BCG vaccination received   NaN  1989   44.4
1  Nairobi  BCG vaccination received   NaN  1993  100.0
2  Nairobi  BCG vaccination received   NaN  1998   97.7
3  Nairobi  BCG vaccination received   NaN  2003   97.6
4  Nairobi  BCG vaccination received   NaN  2008   93.8

In [7]:
data.columns

Index(['county', 'indicator', 'Unit', 'Date', 'Value'], dtype='object')

In [8]:
data.describe()

       Unit         Date        Value
count   0.0  1567.000000  1567.000000
mean    NaN  2017.932993    82.559349
std     NaN     5.710891    29.656624
min     NaN  1989.000000     0.000000
25%     NaN  2014.000000    78.650000
50%     NaN  2022.000000    92.900000
75%     NaN  2022.000000    97.800000
max     NaN  2022.000000   417.000000

In [9]:
data.info

<bound method DataFrame.info of        county                                          indicator  Unit  Date  \
0     Nairobi                           BCG vaccination received   NaN  1989
1     Nairobi                           BCG vaccination received   NaN  1993
2     Nairobi                           BCG vaccination received   NaN  1998
3     Nairobi                           BCG vaccination received   NaN  2003
4     Nairobi                           BCG vaccination received   NaN  2008
...       ...                                                ...   ...   ...
1562   Vihiga                   Hepatitis 2 vaccination received   NaN  2022
1563   Vihiga                   Hepatitis 3 vaccination received   NaN  2022
1564   Vihiga  Haemophilus influenza type b 1 vaccination rec...   NaN  2022
1565   Vihiga  Haemophilus influenza type b 2 vaccination rec...   NaN  2022
1566   Vihiga  Haemophilus influenza type b 3 vaccination rec...   NaN  2022

      Value
0      44.4
1     100.0
2      97.7
3      97.6
4      93.8
...     ...
1562  100.0
1563   95.9
1564  100.0
1565  100.0
1566   95.9

[1567 rows x 5 columns]>