In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('../Data/immunization_kenya_2022.csv')
data.head()

    county                 indicator  Unit  Date  Value
0  Nairobi  BCG vaccination received   NaN  1989   44.4
1  Nairobi  BCG vaccination received   NaN  1993  100.0
2  Nairobi  BCG vaccination received   NaN  1998   97.7
3  Nairobi  BCG vaccination received   NaN  2003   97.6
4  Nairobi  BCG vaccination received   NaN  2008   93.8